.sidebar {
    position: fixed;
    left: 0px;
    bottom: 0px;
    top: 55px;
    background-color: white;
    width: 72px;
    z-index: 200;
    padding-top: 4px;
}
.sidebar-link {
    display: flex;
    height: 74px;
    margin-bottom: 2px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}
.sidebar-link:hover {
    background-color: rgb(235,235,235);
}
.sidebar img {
    height: 24px;
    margin-bottom: 4px;
}
.sidebar div {
    font-family: Roboto, Arial;
    font-size: 10px;
}